---

---

<div class="card">
  <slot />
</div>

<style lang="scss">
  .card{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    border: 1px solid #ebebeb;
    border-radius: 28px;
    padding: 24px;
    transition-duration: 0.5s;

    &:hover{
      background-color: #fbfbfb;
    }
  }
</style>
